<div class="ships">
  <% @human_ships.each do |ship| %>
    <div class="ship">
      <h3><%= ship.fetch(:name) %></h3>
      <% ship.fetch(:cells).each do |state| %>
        <%= state == :ship ? 'O' : 'X' %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to('Next turn', "/game/change_turn", { :method => :post }) %>

<div>
  GAME WINNER:
  <% if @result %>
    <%= @result.human_player ? 'YOU' : 'COMPUTER' %>
    <%= link_to('See summary', "/game/finished")%>
  <% else %>
    ?????
  <% end %>
</div>

<div class="grids">
  <div class="grid">
    <div class="row">
      <div class="cell"></div>

      <% @human_grid.first.each do |cell| %>
        <div class="cell">
          <span><%= cell.fetch(:coord).slice(1,2) %></span>
        </div>
      <% end %>
    </div>

    <% @human_grid.each do |row| %>
      <div class="row">
        <div class="cell">
          <span><%= row.first.fetch(:coord)[0] %></span>
        </div>
        <% row.each do |cell| %>
          <div class="cell cell--<%= cell.fetch(:state).to_s %>">
            <span class="cell__<%= cell.fetch(:state).to_s %>"></span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="grid">
    <div class="row">
      <div class="cell"></div>

      <% @comp_grid.first.each do |cell| %>
        <div class="cell">
          <span><%= cell.fetch(:coord).slice(1,2) %></span>
        </div>
      <% end %>
    </div>

    <% @comp_grid.each do |row| %>
      <div class="row">
        <div class="cell">
          <span><%= row.first.fetch(:coord)[0] %></span>
        </div>
        <% row.each do |cell| %>
          <% if cell.fetch(:state) == :empty %>
            <%= link_to(
              content_tag(:span, '', class: "cell--fire"),
              cell.fetch(:url),
              { :method => :post, :class => 'cell cell--fireable'}
            ) %>
          <% else %>
            <div class="cell cell--<%= cell.fetch(:state).to_s %>">
              <span class="cell__<%= cell.fetch(:state).to_s %>"></span>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
