

<div>
  GAME WINNER:
  <% if @result %>
    <%= @result.human_player ? 'YOU' : 'COMPUTER' %>
    <%= link_to('See summary', "/game/finished")%>
  <% else %>
    ?????
  <% end %>
</div>

<% if flash[:error] %>
      <div id="alert">
         <%= flash[:error] %>
      </div>
  <% end %>

<div class="game-container">
  <%= render partial: 'ships', locals: { ships: @human_ships, sunk_only: false } %>
  <div class="grids">
    <div>
      <%= render partial: 'grid', locals: { grid: @human_grid, fireable: false, highlight_latest: !@can_change_turn } %>
      <div class="player-container">
        <h2>You</h2>
      </div>
    </div>
    <div class="next-turn">
      <% if !@result && @can_change_turn %>
        <%= link_to('Next turn', "/game/change_turn", { :method => :post }) %>
      <% end %>
    </div>
    <div>
      <%= render partial: 'grid', locals: { grid: @comp_grid, fireable: !@can_change_turn, highlight_latest: @can_change_turn } %>
      <div class="player-container">
        <h2>The Beach (Computer)</h2>
        <div class="the-beach"></div>
      </div>
    </div>
  </div>
  <%= render partial: 'ships', locals: { ships: @comp_ships, sunk_only: true } %>
</div>
