<h1> Pick your ship <h1>

   <% @ships.each do |ship|%>
       <h3><%= ship.name  %></h3>
       <h5><%= ship.size %></h5>

    <% end %>


    @setup_hash.map do |grids| %>
        <% grids.map |cell| %>
        <h3> <%= cell[0].x %> </h3>
        <h3> <%= cell[0].y %> </h3>
        <h3> <%= cell[1].x %> </h3>
        <h3> <%= cell[1].y %> </h3>
        <% end %>
        
  
        <% end %
