<h1> Pick your ship <h1>

  <% @ships.each do |ship|%>
    <h3><%= ship.name  %></h3>
    <h5><%= ship.size %></h5>
  <% end %>

<%= form_tag("/setup") do %>
  <div>
    <%= submit_tag 'Confirm positions' %>
    <%= check_box_tag 'lucky' %>
    <%= label_tag 'lucky', 'I\'m feeling lucky' %>
  </div>

  <% if flash[:error] %>
      <div id="alert">
         <%= flash[:error] %> 
      </div>
  <% end %>

  <div class="grid grid--setup">
    <div class="row">
      <div class="cell"></div>

      <% @grid.first.each do |cell| %>
        <div class="cell">
          <%= cell.coord.slice(1,2) %>
        </div>
      <% end %>
    </div>

    <% @grid.each do |row| %>
      <div class="row">
        <div class="cell">
          <%= row.first.coord[0] %>
        </div>
        <% row.each do |cell| %>
          <div class="cell">
            <%= select_tag(
              cell.coord,
              options_for_select(@ships.map { |ship| [ship.name, ship.id] }),
              { include_blank: true },
            ) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

<% end %>
