<h1 class = 'pickship'> 🚢 Place your battleships! 🚢 <h1>

<div class = 'ships ships--horizontal'>
<% @ships.each do |ship|%>
  <div class = 'ship'>
    <h3 class = 'shipname'><%= ship.name  %></h3>
    <h5 class = 'shipsize'><%= ship.size %></h5>
  </div>
<% end %>
</div>


<div class = 'confirm'>
<%= form_tag("/setup") do %>
  <button class= 'button'> Confirm Position </button>
  <div class ='feelinglucky' >
    <%= check_box_tag 'lucky' %>
    <%= label_tag 'lucky', 'I\'m feeling lucky' %>
    </div>
  </div>

  <% if flash[:error] %>
      <div id="alert">
         <%= flash[:error] %>
      </div>
  <% end %>


<br>

  <div class="grid grid--setup">
    <div class="row">
      <div class="cell"></div>

      <% @grid.first.each do |cell| %>
        <div class="cell">
          <%= cell.coord.slice(1,2) %>
        </div>
      <% end %>
    </div>

    <% @grid.each do |row| %>
      <div class="row">
        <div class="cell">
          <%= row.first.coord[0] %>
        </div>
        <% row.each do |cell| %>
          <div class="cell">
            <%= select_tag(
              cell.coord,
              options_for_select(@ships.map { |ship| [ship.name, ship.id] }),
              { include_blank: true },
            ) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

<% end %>
